{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css" />
    <link href="{% static 'accounts/accounts_base.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% block contents %}
    {% endblock %}
  </body>
   <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</html>

